<h1>Editing {{.Title}}</h1>

<form action="/help" method="POST">
    <div><textarea name="id" rows="1" cols="20">id</textarea></div>
    <div><textarea name="desc" rows="1" cols="20">desc</textarea></div>
    <div><textarea name="priority" rows="1" cols="20">priority</textarea></div>
    <div><textarea name="lat" rows="1" cols="20">lat</textarea></div>
    <div><textarea name="lon" rows="1" cols="20">lon</textarea></div>
    <div><textarea name="updateTime" rows="1" cols="20">updateTime</textarea></div>
    <div><input type="submit" value="Save"></div>
</form>
